In [1]:
import pandas as pd

In [2]:
file = pd.read_csv('athlete_events.csv')
print(file.head())

   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal
0       Basketball Men's Basketball   NaN
1      Judo Men's Extra-Lightweight   NaN
2           Football Men's Football   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold
4  Speed Skating Women's 500 metres   NaN

In [3]:

df = file[file.Year==2012]
df = df[df.City=='London']

How many total unique participants (use ID column) were present at the London 2012 Games?

In [4]:
print(len(df['ID'].unique()))

10517

How many total unique males and total unique females participants were at the Beijing 2008 games?

In [5]:
df = file[file.Year==2008]
df = df[df.City=='Beijing']
male = df[df.Sex=='M']
female = df[df.Sex=='F']
print(len(male['ID'].unique()))
print(len(female['ID'].unique()))

6290
4609

In [6]:
df = file.groupby('Name')

Make a bar chart (blue color) that shows how many nations participated in each year of the Olympics

In [7]:
import matplotlib.pyplot as plt

In [ ]:
X = list(file['Year'])
Y = list(file['City'])
plt.bar(X, Y, color='g')

In [ ]:
df=pd.DataFrame(file,columns=["Year","City"])

In [ ]:
df['points']=df['Year'].astype(float)

In [ ]:
df.dtypes
df.plot(x="Year",y="City")
plt.show()